name: Main Extension Distribution Pipeline
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref || '' }}-${{ github.base_ref || '' }}
  cancel-in-progress: true

jobs:
  duckdb-stable-build:
    name: Build extension binaries
    uses: duckdb/extension-ci-tools/.github/workflows/_extension_distribution.yml@main
    with:
      duckdb_version: v1.4.4
      ci_tools_version: main
      extension_name: quackstats
      exclude_archs: 'wasm_mvp;wasm_threads;linux_amd64_musl'
      extra_toolchains: 'rust;python3'
